# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Marcin\Desktop\Informatyka\sem6\[ IwM ] Informatyka w medycynie\blood-vessels\retinal-blood-vessels-detection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
